@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.8s;
}
/*===========NAVBAR STICKY RESPONSIVE============*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #ffc143;
}
.banner {
  height: 100vh;
  position: relative;
  background: url("../img/back.png") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.about {
  padding: 40px 0;
}
.about .title {
  font-size: 35px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn {
  top: 50px;
  right: 50px;
}
/*===========TEXT TITLE============*/
.title_info {
  color: #f1f1f1;
  font-family: "Wellfleet", cursive;
  letter-spacing: 3px;
  font-size: 60px;
  padding-top: 20%;
  padding-left: 5%;
}
/*===========TEXT TYPED============*/
.container p {
    font-size: 3rem;
    padding-left: 5%;
    font-family: "Wellfleet", cursive;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #ffc143;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 0.6s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
/*===========BUTTON CV============*/
.button_cv{
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 10%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    margin-left: 5%;
    padding: 0.5rem;
}
.button_cv:hover{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10%;
    color:  black;
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    margin-left: 5%;
    padding: 0.5rem;
    transition: 0.8s;
}
/*===================PARALLAX=======================*/
.image1 {
  position: relative;
  background: url("../img/universo.jpg") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.image2 {
  position: relative;
  background: url("../img/universo2.jpg") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.image3 {
  position: relative;
  background: url("../img/universo3.jpg") no-repeat fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

/*===============MEDIA QUERIES======================*/

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
    right: 50px;
    top: 60px;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
  .banner {
    height: 100vh;
    position: relative;
    background: url("../img/back-tel.png") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .title_info {
    color: #f1f1f1;
    font-family: "Wellfleet", cursive;
    letter-spacing: 3px;
    font-size: 50px;
    padding-top: 40%;
    padding-left: 5%;
  }
  .container p {
    font-size: 2rem;
    padding-left: 5%;
    font-family: "Wellfleet", cursive;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    overflow: hidden;
  }
}
