.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 30px;
	right: 50px;
	background-color:#4cc370;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #fff;
  background-color:#45c554;
}

.my-float{
	margin-top:16px;
}
.text-whats{
	align-items: center;
	justify-content: center;
	text-align: center;
}